<div class="mb-3">
  <fds-badge [text]="'error small'" [type]="'error'" [size]="'small'" />
</div>
<div class="mb-3">
  <fds-badge [text]="'error large'" [type]="'error'" [size]="'large'" />
</div>

<div class="mb-3">
  <fds-badge [text]="'info small'" [type]="'info'" [size]="'small'" />
</div>
<div class="mb-3">
  <fds-badge [text]="'info large'" [type]="'info'" [size]="'large'" />
</div>

<div class="mb-3">
  <fds-badge [text]="'success small'" [type]="'success'" [size]="'small'" />
</div>
<div class="mb-3">
  <fds-badge [text]="'error large'" [type]="'success'" [size]="'large'" />
</div>

<div class="mb-3">
  <fds-badge [text]="'warning small'" [type]="'warning'" [size]="'small'" />
</div>
<div class="mb-3">
  <fds-badge [text]="'warning large'" [type]="'warning'" [size]="'large'" />
</div>
