<fds-alert
  [type]="'info'"
  [headerText]="'Info'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [canClose]="true"
/>

<fds-alert
  [type]="'success'"
  [headerText]="'Success'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [canClose]="true"
/>

<fds-alert
  [type]="'warning'"
  [headerText]="'Warning'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [canClose]="true"
/>

<fds-alert
  [type]="'error'"
  [headerText]="'Error'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [canClose]="true"
/>
