<fds-info-alert
  [headerText]="'Info'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [showCloseButton]="true"
/>

<fds-success-alert
  [headerText]="'Success'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [showCloseButton]="true"
/>

<fds-warning-alert
  [headerText]="'Warning'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [showCloseButton]="true"
/>

<fds-error-alert
  [headerText]="'Warning'"
  [alertText]="'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.'"
  [showCloseButton]="true"
/>
